.one-todo {
    border-radius: 5px;
    padding: 20px;
    background: #f9f9f9;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s ease-in-out;

    &[data-isdone="true"] {
        background-color: #fdfd96;

        .one-todo-inner {
            p {
                text-decoration: line-through;
            }
        }
    }

    p {
        flex: 1;
    }

    .one-todo-inner {
        display: flex;
    }

    div {
        width: 100%;
        flex: 1;
        justify-content: space-between;
        align-items: center;
    }

    .delete {
        opacity: 0.8;
        margin-left: 10px;
        &:hover {
            cursor: pointer;
            opacity: 1;
            transform: scale(1.1);
            transition: all 0.2s ease-in-out;
        }
    }

    .meta {
        border-top: 1px dotted rgba(#444, 0.35);
        padding: 10px 0;
        margin-top: 20px;
    }

    &.hidden {
        display: none;
    }
}